body,
body.pushable>.pusher
{
    background-color: #DADADA;
}
img
{
    max-width: 100%;
}
.ui.card
{
    width: 100%;
}


#first_page>div
{
    margin-top: 20px;
}
.chap-list
{
    max-height: 150px;
}
.chap-link-div
{
    margin-top: 10px;
}
.chap-link-div  > a
{
    color: #000;
}

.reader-content
{
    height:100%;
}
.embed-reader
{
    position: relative;
    width: 100%;
    height: 100%;

}
.embed-reader>iframe
{
    width: 100%;
    height: 100%;
}

.btn-navigation
{
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 200;
    font-size:2.1em;
}
.toggle-sidebar
{
    left: 20px;
    top:20px;
}
.prev-chapter
{
    right: 20px;
    bottom:20px;
}
.next-chapter
{
    left: 20px;
    bottom:20px;
}
.toggle-sidebar > div.image,
.prev-chapter > div.image,
.next-chapter > div.image
{
    position: relative;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #c9c9c9;
    cursor: pointer;
}

.toggle-sidebar > div > i,
.prev-chapter >div > i,
.next-chapter >div > i
{
    display: block;
    width: 100%;
    text-align: center;
}

.bibi-menu
{
    display: none;
}